#directions-container {
    background-color: lightblue;
    padding: 2%;
}

.register-form {
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    background-color: white;
}

.search-form {
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    background-color: white;
    overflow-y:auto;
    max-height: 85vh;
}

.main-div {
    height: 94vh;
    background-image: url(/static/images/desert.jpg);
    background-size: cover;
}

.main-div-profile {
    height: 94vh;
    background-image: url(/static/images/trail.jpg);
    background-size: cover;
}

.main-div-search {
    height: 94vh;
    background-image: url(/static/images/forest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .nav-container {
    background-color: orange;
    margin: 0px;
} */

.nav-li {
    background-color: rgb(252, 184, 58);
}

.error-para {
    font-size: large;
}

.navbar {
    background-color: rgb(252, 184, 58);
}