{% extends 'index.html' %}

{% block title %} Admin Panel {% endblock %}

{% block main %}



<div class="main-div-profile" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="border border-info mt-3 rounded register-form">

                    <h1>Admin Panel</h1>
                    <br>
                    <h3>Username: {{g.user.username}}</h2>

                        <h3>First Name: {{g.user.first_name}}</h3>
                        <h3>Last Name: {{g.user.last_name}}</h3>
                        <h3>E-mail: {{g.user.email}}</h3>

                        <ol>
                            {% for user in users %}
                            {% if not user.is_admin %}
                            <li>
                                <form action="/admin/delete/{{user.id}}" method="POST">
                                    <button class="btn btn-danger mt-3">Delete {{user.username}}</button>
                                </form>
                            </li>
                            {%endif%}
                            {%endfor%}
                        </ol>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}