{% extends 'index.html' %}

{% block title %} Delete Account {% endblock %}

{% block main %}

<div class="main-div-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="border border-info mt-3 rounded register-form">
                    <h2 class="join-message">Delete Account</h2>
                    <form method="POST" id="user_form" action="/users/delete">
                        {{ form.hidden_tag() }}

                        {% for field in form if field.widget.input_type != 'hidden' %}
                        {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}

                        {{ field(placeholder=field.label.text, class="form-control") }}
                        {% endfor %}

                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <span class="text-danger">
                            {{ error }}
                        </span>
                        {% endfor %}
                        {% endif %}

                        <div class="edit-btn-area mt-3">
                            <button class="btn btn-success">Delete Account</button>
                            <a href="/users/{{ g.user.id }}" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}